@media only screen and (max-width: 769px) {
    .sidePanel {
        width: 100%;
        height: 56px;
        transition: all ease-in-out .3s;
    }
    .sidePanel.active {
        height: 100vh;
    }

    .sidePanel .sidePanel-header .profileInfo, 
    .sidePanel .sidePanel-header .itemsContainer, 
    .sidePanel .sidePanel-links {
        transform: translateX(-150%);
        transition: all ease-in-out .3s;
    }
    .sidePanel.active .sidePanel-header .profileInfo, 
    .sidePanel.active .sidePanel-header .itemsContainer, 
    .sidePanel.active .sidePanel-links {
        transform: translateX(0);
    }
    .sidePanel .sidePanel-header {
        border-bottom: none;
    }
    .sidePanel.active .sidePanel-header {
        border-bottom: 1px solid var(--lightColor-1);
    }

    .sidePanel .sidePanel-controlling {
        height: 56px;
        justify-content: space-between;
        padding: var(--space-3) var(--space-6);
    }

    .sidePanel .sidePanel-controlling img.logo {
        width: 32px;
    }

    .sidePanel .sidePanel-controlling .controls {
        display: block;
    }

    .sidePanel .menu {
        display: block;
    }
    .sidePanel.active .menu {
        display: none;
    }
    .sidePanel .close {
        display: none;
    }
    .sidePanel.active .close {
        display: block;
    }

    .sidePanel .itemsContainer {
        gap: var(--space-6);
        padding: var(--space-6) var(--space-8);
    }

    /* Main Content */
    .main {
        padding: calc(56px + var(--space-6)) var(--space-6) var(--space-6) var(--space-6);
    }
}